header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

/*=========Me=============*/
.me{
    background:linear-gradient(var(--color-primary),transparent) ;
    width: 22rem;
    height: 22.5rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
}

/*======Media Queries(Medium Devices)========*/
@media screen and (max-width:1024px){
    header{
        height: 68vh;
    }
}

/*======Media Queries(Small Devices)========*/
@media screen and (max-width:600px){
    header{
        height: 100vh;
    }
}